Input {
  background-color: "#088888";
}
/* input:invalid {
  border: 2px solid lightcoral;
} */

/* input:invalid:required {
  border-bottom: 2px solid black;
} */

input:valid {
  /* border: 2px solid black; */
  width: 350px;
  background-color: "#999999";
}
